<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV.fetch("FB_MESSENGER_APP_ID") %>',
      xfbml      : true,
      version    : 'v2.6'
    });
    FB.Event.subscribe('send_to_messenger', function(e) {
      console.dir(e)
       // callback for events triggered by the plugin
     
     });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="row">
  <%= render 'users/header_lg', txt: "Edit Notifications" %>

  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/users/edit">Profile</a></li>
      <li role="presentation" class="active"><a href="/users/notifications">Notifications</a></li>
    </ul>
  </div>

  <div class="col-sm-12">
    <h3>Update your Notification Settings</h3>
    <hr />
    
    <%= form_tag users_notifications_path, method: :patch, class: "form" do %>
      <div class="checkbox">
        <label>
          <%= check_box_tag User::Settings::NEW_EVENT_KEY, @settings.can_notify_new_event?, @settings.can_notify_new_event? %> Notify me of new events that match my profile.
        </label>
      </div>
      <div class="checkbox">
        <label>
          <%= check_box_tag User::Settings::UPCOMING_EVENT_KEY, @settings.can_notify_upcoming_event?, @settings.can_notify_upcoming_event? %> Send me a reminder before my shifts or events.
        </label>
      </div>

    
      <br />
      

      <h3>How you get your Notifications</h3>
      <p>If you want to receive your notifications over Messenger instead of email, click on the link below and we will contact you there.</p>
      <p>You will control the settings here.</p>
      <hr />

      <div class="checkbox">
        <label>
          <%= check_box_tag User::Settings::EMAIL_NOTIFICATION_KEY, @settings.can_notify_email?, @settings.can_notify_email? %> Contact me over email.
        </label>
      </div>
      <div class="checkbox">
        <label>
           <%= check_box_tag User::Settings::FB_NOTIFICATION_KEY, @settings.can_notify_facebook?, @settings.can_notify_facebook? %> Contact me over facebook messenger.
        </label>
      </div>

      <br />
      <br />

      <%= submit_tag t(".submit"), class: "btn btn-primary"%>

    <% end %>

    <br />
    

    <h3>Connect with Facebook Messenger now</h3>

    <hr />


    <div class="fb-send-to-messenger" 
      messenger_app_id="<%= ENV.fetch("FB_MESSENGER_APP_ID") %>" 
      page_id="<%= ENV.fetch("FB_MESSENGER_PAGE_ID") %>" 
      data-ref="<%= @pass_through_id %>" 
      color="blue" 
      size="xlarge">
    </div>    
  </div>
</div>

