<script>
  var optin = new FBOptin(<%= @user_has_facebook_account.inspect %>, '<%= ENV["FB_MESSENGER_APP_ID"] %>')
  optin.init()
</script>

<div class="row">
  <%= render 'users/header_lg', txt: t(".title") %>

  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to t("users.nav.profile"), edit_user_registration_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to t("users.nav.notifications"), edit_users_notifications_path %>
      </li>
    </ul>
  </div>

  <div class="col-sm-12">
    <h3><%= t(".subtitle") %></h3>
    <hr />

    <%= form_tag users_notifications_path, method: :patch, class: "form" do %>
      <div class="checkbox">
        <label>
          <%= check_box_tag User::Settings::NEW_EVENT_KEY, nil, @settings.can_notify_new_event? %> <%= t(".notification_times.new") %>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <%= check_box_tag User::Settings::UPCOMING_EVENT_KEY, nil, @settings.can_notify_upcoming_event? %> <%= t(".notification_times.reminder") %>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <%= check_box_tag User::Settings::UPDATED_EVENT_KEY, nil, @settings.can_notify_updated_event? %> <%= t(".notification_times.update") %>
        </label>
      </div>

      <br />


      <h3><%= t(".source_title") %></h3>
      <p>
        <%= t(".description").html_safe %>
      </p>
      <hr />

      <div class="checkbox">
        <label>
          <%= check_box_tag User::Settings::EMAIL_NOTIFICATION_KEY, nil, @settings.can_notify_email? %> <%= t(".notification_types.email") %>
        </label>
      </div>
      <div class="checkbox">
        <label>
           <%= check_box_tag User::Settings::FB_NOTIFICATION_KEY, nil, @settings.can_notify_facebook?, class: "m_optin-facebook-checkbox" %>  <%= t(".notification_types.facebook") %>
        </label>
      </div>

      <br />
      <br />

      <%= submit_tag t(".submit"), class: "btn btn-primary"%>

    <% end %>

    <br />


    <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= t(".facebook_modal_title") %></h4>
          </div>
          <div class="modal-body">
            <div class="fb-send-to-messenger"
              messenger_app_id="<%= ENV["FB_MESSENGER_APP_ID"] %>"
              page_id="<%= ENV["FB_MESSENGER_PAGE_ID"] %>"
              data-ref="<%= @pass_through_id %>"
              color="blue"
              size="xlarge">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
</div>

