<% if /ngos\/*/ =~ params[:controller] %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>
<% else %>
  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
    </div>
    <div class="col-sm-6">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :phone %>
  <%= f.telephone_field :phone, autofocus: true, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control", placeholder: "min. #{@minimum_password_length} #{t :characters}" %>
</div>
<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>
</div>
<div class="checkbox">
  <label>
    <%= f.check_box(:terms_and_conditions )%>
    I agree to the <%= link_to 'Terms of Service', '#' %>
  </label>
</div>
