<%= bootstrap_devise_error_messages! %>
<div class="row">
  <div class="col-sm-5 col-sm-push-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t('.sign_up', default: 'Sign up') %></h4>
      </div>

      <% if User.count == 0 %>
        <div class="alert alert-info" role="alert">
          Sie erzeugen jetzt den ersten Bunutzer. Dieser bekommt Administrationsrechte zugewiesen.
        </div>
      <% end %>

      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f| %>
          <%= render 'fields', f: f %>
        <% end %>
      </div>
    </div>
    <%= render 'devise/shared/links' %>
  </div>
  <div class="col-sm-7 col-sm-pull-5">
    <h1><%= t '.register' %></h1>
    <h4><%= t '.why' %></h4>
    <%= image_tag 'registration/placeholder.svg', class: 'img-responsive img-rounded center-block' %>
    <small><em class="text-muted"><%= t '.ngo' %> <%= link_to t('.register_as_ngo'), ngos_sign_up_path  %><em></small>
  </div>
</div>
