<%= div_for(need, class: 'row list-item') do %>
  <div class="col-sm-4 col-lg-4 col-lg-offset-1">
    <div class="media">
      <div class="media-left text-center">
        <%= link_to need_path(need), class: 'calendar-icon text-center' do %>
          <div class="month"><%= I18n.localize(need.start_time, format:'%b') %></div>
          <div class="day"><%= need.start_time.day %></div>
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= link_to need.i18n_category, need_path(need) %></h4>
        <div class="hidden-xs text-muted"><small><%= need.user.organization %></small></div>
        <div class="visible-xs time">
          <i class="fa fa-clock-o fa-fw"></i> <%= need.start_time.strftime('%H:%M') %> - <%= need.end_time.strftime('%H:%M') %>
        </div>
        <div class="visible-xs place">
          <i class="fa fa-map-marker fa-fw"></i>
          <%= need.city %>, <%= need.location %>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden-xs col-sm-4 col-lg-3">
    <div class="date">
      <strong><i class="fa fa-calendar-o fa-fw"></i> <%= short_date_for_need need %></strong>
    </div>
    <div class="time">
      <i class="fa fa-clock-o fa-fw"></i> <%= need.start_time.strftime('%H:%M') %> - <%= need.end_time.strftime('%H:%M') %>
    </div>
    <div class="place">
      <i class="fa fa-map-marker fa-fw"></i>
      <%= need.city %>, <%= need.location %>
    </div>
  </div>

  <div class="hidden-xs col-sm-4 col-lg-3 text-center">
    <% if need.upcoming? %>
      <i class="fa fa-bookmark-o fa-2x"></i><br>
      <strong>Bitte komm um <%= I18n.localize(need.start_time, format:'%H:%M') %></strong>
    <% else %>
      <strong>Danke dass Du da warst!</strong>
    <% end %>
  </div>
<% end %>
