  <div class="media-body">
  <%= link_to '#' do %>
    <h4 class="media-heading"><%= @need.volunteers_needed %> <%= @need.i18n_category %></h4>
  <% end %>
  <div class="time">
    <i class="fa fa-calendar-o fa-fw"></i>
    <%= I18n.localize(@need.start_time, format:'%a, %d. %b %H:%M') %> - <%= @need.end_time.strftime('%H:%M') %> Uhr
  </div>
  <div class="place">
    <i class="fa fa-map-marker fa-fw"></i>
    <%= @need.city %>, <%= @need.location %>
  </div>

  <div class="col-sm-5 col-lg-3">
    <%= volunteerings_button(@need) %>
  </div>
  <div id='single-need-map'>
  </div>
  <%= javascript_tag do %>
    var lat = <%= @need.lat %>;
    var lng = <%= @need.lng %>;
    L.mapbox.accessToken = 'pk.eyJ1IjoicmFtb25oIiwiYSI6ImNpZ2t4YnJ5ZTAwNmF3ZWtubTVzdWgzdnYifQ.i3I-dfGvIoO4HbLhFfmE9w';
    var map = L.mapbox.map('single-need-map', 'ramonh.o2plj8a0').setView([lat, lng], 15);
    L.mapbox.featureLayer({
        type: 'Feature',
        geometry: {
            type: 'Point',
            // coordinates here are in longitude, latitude order because
            // x, y is the standard for GeoJSON and many formats
            coordinates: [
              lng,
              lat
            ]
        },
        properties: {
            'marker-size': 'large',
            'marker-color': '#6EC9C6',
            'marker-symbol': 'star'
        }
    }).addTo(map);
  <% end %>
