<div class="row feed-item">
  <div class="col-xs-2">
    <%= icon_for need %>
  </div>
  <div class="col-xs-7">
    <h2><%= need.i18n_category %></h2>
    <p>
      <i class="fa fa-map-marker"></i>
      <%= "#{need.city},#{need.location}" %>
    </p>
    <% if need.start_time %>
      <span>
        <i class="fa fa-calendar-o"></i>
        <%= I18n.localize(need.start_time, format:'%a, %d. %b %H:%M') %> - <%= need.end_time.strftime('%H:%M') %> Uhr
      </span>
    <% end %>
  </div>
  <div class="col-xs-3">
    <p>Es werden noch</p>
    <p class="text-center"><%= need.volunteers_needed - need.volunteerings.size %></p>
      gebraucht.
    </p>
  </div>
</div>