<%= div_for(need, class: 'row list-item') do %>
  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">

      <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
        <%= icon_for need %>
      </div>

      <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6">
        <h2 class="need-category"><%= need.i18n_category %></h2>
        <p>
          <i class="fa fa-map-marker"></i>
          <%= "#{need.city},#{need.location}" %>
        </p>
        <% if need.start_time %>
          <span>
            <i class="fa fa-calendar-o"></i>
            <%= I18n.localize(need.start_time, format:'%a, %d. %b %H:%M') %> - <%= need.end_time.strftime('%H:%M') %> Uhr
          </span>
        <% end %>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="row">
          <p class="text-center">Es werden noch</p>
          <p class="text-center need-volunteersNeeded"><%= [0, need.volunteers_needed - need.volunteerings.size].max %></p>
          <p class="text-center">gebraucht.</p>
        </div>
        <div class="row">
          <%= volunteerings_button(need) %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-10"><hr></div>
    </div>
  </div>
<% end %>
