<%= div_for(need, class: 'row list-item') do %>
  <div class="col-sm-7 col-lg-7 col-lg-offset-1">
    <div class="media">
      <div class="media-left">
        <%= link_to volunteers_need_path need do %>
          <%= icon_for(need) %>
        <% end %>
      </div>
      <div class="media-body">
        <%= link_to volunteers_need_path need do %>
          <h4 class="media-heading"><%= need.volunteers_needed %> <%= need.i18n_category %></h4>
        <% end %>
        <div class="time">
          <i class="fa fa-calendar-o fa-fw"></i>
          <%= I18n.localize(need.start_time, format:'%a, %d. %b %H:%M') %> - <%= need.end_time.strftime('%H:%M') %> Uhr
        </div>
        <div class="place">
          <i class="fa fa-map-marker fa-fw"></i>
          <%= need.city %>, <%= need.location %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-5 col-lg-3">
    <%= volunteerings_button(need) %>
  </div>
<% end %>
