<%= div_for(need, class: 'row list-item') do %>
  <div class="col-sm-4 col-lg-4 col-lg-offset-1">
    <div class="media">
      <div class="media-left"><%= link_to icon_for(need), need_path(need) %></div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to need.i18n_category, need_path(need) %>
          <% if need.volunteerings.find_by_user_id(current_user) %>
            <i class="visible-xs fa fa-bookmark-o fa-2x pull-right"></i>
          <% end %>
        </h4>
        <div class="hidden-xs text-muted"><small><%= need.user.organization %></small></div>
        <div class="visible-xs time">
          <strong><i class="fa fa-calendar-o fa-fw"></i> <%= short_date_for_need need %></strong> <%= need.start_time.strftime('%H:%M') %> - <%= need.end_time.strftime('%H:%M') %>
        </div>
        <div class="visible-xs place">
          <i class="fa fa-map-marker fa-fw"></i>
          <%= need.city %>, <%= need.location %>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden-xs col-sm-4 col-lg-3">
    <div class="date">
      <strong><i class="fa fa-calendar-o fa-fw"></i> <%= short_date_for_need need %></strong>
    </div>
    <div class="time">
      <i class="fa fa-clock-o fa-fw"></i> <%= need.start_time.strftime('%H:%M') %> - <%= need.end_time.strftime('%H:%M') %>
    </div>
    <div class="place">
      <i class="fa fa-map-marker fa-fw"></i>
      <%= need.city %>, <%= need.location %>
    </div>
  </div>

  <div id="<%= dom_id(need, :button) %>" class="hidden-xs col-sm-4 col-lg-3 text-center stream-button">
    <%= volunteerings_button(need) %>
  </div>
<% end %>
