<div class="media-body">
  <div class="col-sm-offset-1 col-sm-3 col-lg-3">
    <%= link_to needs_path do %>
      <div class="go-back">
        <i class="fa fa-angle-left"></i> <%= t 'views.needs.back_to_list' %>
    </div>
  <% end %>
  <div class="media">
    <div class="media-left">
      <%= link_to need_path @need do %>
        <%= icon_for(@need) %>
      <% end %>
    </div>
    <div class="media-body">
      <%= link_to need_path @need do %>
        <h4 class="media-heading"><%= @need.volunteers_needed %> <%= @need.i18n_category %></h4>
      <% end %>
      <div class="time">
        <i class="fa fa-calendar-o fa-fw"></i>
        <%= I18n.localize(@need.start_time, format:'%a, %d. %b %H:%M') %> - <%= @need.end_time.strftime('%H:%M') %> Uhr
      </div>
      <div class="place">
        <i class="fa fa-map-marker fa-fw"></i>
        <%= @need.city %>, <%= @need.location %>
      </div>
    </div>
  </div>
  <div class="volunteering-info">
    <%= volunteerings_info_individual(@need) %>
  </div>
  <div class="volunteering-button">
    <%= volunteerings_button_individual(@need) %>
  </div>
  </div>

  <%= tag('div', class: 'col-sm-6 col-lg-6', id: 'single-need-map', data: { lat: @need.lat, long: @need.lng }) %>
</div>
