  <div class="media-body">
  <%= link_to needs_path do %>
    <div class="go-back">
      <i class="fa fa-angle-left"></i> <%= t 'views.needs.back_to_list' %>
    </div>
  <% end %>

  <%= link_to '#' do %>
    <h4 class="media-heading"><%= @need.volunteers_needed %> <%= @need.i18n_category %></h4>
  <% end %>
  <div class="time">
    <i class="fa fa-calendar-o fa-fw"></i>
    <%= I18n.localize(@need.start_time, format:'%a, %d. %b %H:%M') %> - <%= @need.end_time.strftime('%H:%M') %> Uhr
  </div>
  <div class="place">
    <i class="fa fa-map-marker fa-fw"></i>
    <%= @need.city %>, <%= @need.location %>
  </div>

  <div class="col-sm-5 col-lg-3">
    <%= volunteerings_button(@need) %>
  </div>

  <%= tag('div', id: 'single-need-map', data: { lat: @need.lat, long: @need.lng }) %>
