<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo_small.svg', alt: 'Where2Help logo'), root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="<%= active_class(["events", "ongoing_events"]) %>"><%= link_to t('.events'), root_path %></li>
        <li class="<%= active_class(["schedules", "shifts"]) %>"><%= link_to t('.schedule'), schedule_path %></li>
        <li class="<%= active_class("registrations") %> visible-xs-block"><%= link_to t('.profile'), edit_user_registration_path %></li>
        <% if current_user.admin? %>
          <li class="visible-xs-block"><%= link_to 'Admin', admin_dashboard_path, "data-turbolinks": "false" %></li>
        <% end %>
        <li class="visible-xs-block"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="<%= active_class("registrations") %>"><%= link_to t('.profile'), edit_user_registration_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to 'Admin', admin_dashboard_path, "data-turbolinks": "false" %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
