<br />
<br />

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group btn-group-justified m_ngo-event-toggle-buttons">
      <%= link_to t(".events"),         ngos_events_path,         class: "btn btn-default" %>
      <%= link_to t(".ongoing_events"), ngos_ongoing_events_path, class: "btn btn-default active" %>
    </div>
  </div>
</div>

<br />
<br />

<div class="row">
  <div class="col-sm-12 clearfix">
    <div class="l_button-stack">
      <%= link_to new_ngos_event_path, class: 'btn btn-default' do %>
         <i class="fa fa-plus"></i> <%= t(".add_an_event") %>
      <% end %>
      &nbsp;&nbsp;&nbsp;
      <%= link_to new_ngos_ongoing_event_path, class: 'btn btn-primary' do %>
        <i class="fa fa-plus"></i> <%= t(".add_an_ongoing_event") %>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <% if @events.any? %>
      <h2><%= t(".ongoing_events").titlecase %></h2>
      <div class="list-group">
        <% @events.each do |event| %>
          <%= link_to [:ngos, event], class: "ngo-event-item ngo-ongoing-event-item #{'-invisible' if event.pending?}" do %>
            <div class="row">
              <div class="col-xs-9 col-sm-10">
                <strong><%= event.title %></strong><br/>
                <span><%= event.contact_person %></span><br/>
                <span><%= event.address %></span>
              </div>
              <div class="col-xs-3 col-sm-2 text-center">
                <%= event_label event %>
                <%= render partial: "progress_bar/progress_bar", object: @operation.progress_bar(event) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
      <%= render partial: "application/empty_message" %>
    <% end %>
  </div>
</div>

