<%= link_to event, class: 'list-group-item' do %>
  <div class="row">
    <div class="col-xs-3 col-sm-1 text-left">
      <%= render 'calendar_icon', date: event.starts_at %>
    </div>
    <div class="col-xs-6 col-sm-9">
      <%= event.starts_at.to_s(:time) %> - <%= event.ends_at.to_s(:time) %><br/>
      <strong><%= event.title %></strong><br>
      <span><%= event.address %></span>
    </div>
    <div class="col-xs-3 col-sm-2">
      <%= render event.progress_bar(current_user) %>
    </div>
  </div>
<% end %>
