<div class="row">
  <div class="col-xs-12 text-center">
    <%= simple_format t('.welcome') %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group btn-group-justified m_ngo-event-toggle-buttons">
      <%= link_to t(".events"),         events_path,         class: "btn btn-default active" %>
      <%= link_to t(".ongoing_events"), ongoing_events_path, class: "btn btn-default" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-3 col-sm-offset-9">
    <div class="form-group">
      <% current_filter = params[:filter].nil? || params[:filter] == "all" ? :all : :available %>
      <div class="filter-wrapper">
        <label><%= t(".filter_by") %></label>
        <%= select_tag :filter, options_for_select([[t(".all"), :all], [t(".available"), :available]], current_filter), class: "form-control filter-select" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-behavior="events-container">
    <%= render('empty_message') unless @events.any? %>
    <%= render('grouped_events') %>
  </div>
  <div class="col-xs-12 text-center pagination-btn">
    <%= load_more_events_btn @events, last_date: @events.any? && @events.last.starts_at.to_date %>
  </div>
</div>

<div class="panel panel-default tip-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2 tip-icon-col">
        <i class="far fa-lightbulb"></i>
      </div>
      <div class="col-sm-10 tip-text-col">
        <p>
          <%= t(".ongoing_events_tip") %><br/>
          <%= link_to t(".ongoing_events_link"), ongoing_events_path %>
        </p>
      </div>
    </div>
  </div>
</div>
