<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <h2>New Event</h2>
    <%= form_for(@event) do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>

      <h2>Shifts</h2>
      <%= f.nested_fields_for :shifts do |ff| %>

        <%= ff.remove_nested_fields_link %>

        <div class="form-group">
          <%= ff.label :volunteers_needed %>
          <%= ff.number_field :volunteers_needed, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= ff.label :starts_at %>
          <div class='input-group date' id='starts-at-datetime-picker'>
            <%= ff.text_field :starts_at, class: 'form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <%= ff.label :ends_at %>
          <div class='input-group date' id='ends-at-datetime-picker'>
            <%= ff.text_field :ends_at, class: 'form-control' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

      <% end %>
      <%= f.add_nested_fields_link :shifts %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
