<div class="page-header">
  <h1><%= t Need.model_name.human(count: 2) %></h1>
</div>
<div class="table-responsive">
  <table class="table table-hover table-clickable">
    <thead>
      <tr>
        <th><%= Need.human_attribute_name(:id) %></th>
        <th><%= Need.human_attribute_name(:volunteers_needed) %></th>
        <th><%= Need.human_attribute_name(:category) %></th>
        <th><%= Need.human_attribute_name(:location) %></th>
        <th><%= Need.human_attribute_name(:city) %></th>
        <th><%= Need.human_attribute_name(:start_time) %></th>
        <th><%= Need.human_attribute_name(:end_time) %></th>
        <th><%=t '.actions', default: t('helpers.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @needs.each do |need| %>
        <tr data-url="<%= admin_need_path need %>">
          <td><%= link_to need.id, ngos_need_path(need) %></td>
          <td><%= need.volunteerings_count %> / <%= need.volunteers_needed %></td>
          <td><%= need.i18n_category %></td>
          <td><%= need.location %></td>
          <td><%= need.city %></td>
          <td><%= l need.start_time, format: '%d.%m.%y %H:%M' %> </td>
          <td><%= l need.end_time, format: '%d.%m.%y %H:%M' %></td>
          <td>
            <%= link_to t('helpers.links.edit'),
                        edit_ngos_need_path(need), class: 'btn btn-default btn-xs' %>
            <%= link_to t('helpers.links.destroy'),
                        ngos_need_path(need),
                        method: :delete,
                        data: { confirm: t('helpers.links.confirm') },
                        class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @needs %>
  </div>
</div>
