<h2><%= I18n.t("devise.confirmations.new.resend_confirmation_instructions") %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="form-group">
    <%= f.submit I18n.t("devise.confirmations.new.resend_confirmation_instructions"), class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "ngos/shared/links" %>
