<div class="row">
  <%= render 'ngos/header_sm', txt: t('devise.confirmations.new.resend_confirmation_instructions') %>
  <div class="col-sm-5 col-sm-offset-3">
    <%= semantic_form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f| %>
      <%= f.input :email, label: false, autofocus: true, placeholder: resource.class.human_attribute_name(:email) %>
      <div class="form-group">
        <%= f.action :submit, label: t('devise.confirmations.new.resend_confirmation_instructions'),
          button_html: { class: 'btn btn-primary btn-block' } %>
      </div>
    <% end %>
    <%= render 'ngos/shared/links' %>
  </div>
</div>
