<%= link_to schedule, class: 'list-group-item' do %>
  <div class="row">
    <div class="col-xs-3 col-sm-1 text-left">
      <%= render 'calendar_icon', date: schedule.starts_at %>
    </div>
    <div class="col-xs-9 col-sm-10">
      <%= schedule.starts_at.to_s(:time) %> - <%= schedule.ends_at.to_s(:time) %><br/>
      <strong><%= schedule.event.title %></strong><br>
      <span><%= schedule.event.address %></span>
    </div>
  </div>
<% end %>
