<div class="row">
  <div class="col-xs-3 col-sm-1 text-left">
    <span class="fa-stack fa-2x">
      <i class="fa fa-calendar-o fa-stack-2x"></i>
      <strong class="fa-stack-1x calendar-text">
        <%= I18n.localize(shift.starts_at, format:'%b') %>
      </strong>
      <strong class="fa-stack-1x calendar-text">
        <%= shift.starts_at.day %>
      </strong>
    </span>
  </div>
  <div class="col-xs-6 col-sm-8">
    <h4><%= shift.starts_at.to_s(:time) %> - <%= shift.ends_at.to_s(:time) %></h4>
    <span class="badge <%= badge_for(shift, current_user) %>"><%= shift.volunteers_count %> / <%= shift.volunteers_needed %></span>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= opt_button_for shift, current_user %>
  </div>
</div>
<hr>
