<div class="row">
  <div class="col-xs-3 col-sm-1 text-left">
    <%= render 'calendar_icon', date: shift.starts_at %>
  </div>
  <div class="col-xs-3 col-sm-4">
    <h4><%= shift.starts_at.to_s(:time) %> - <%= shift.ends_at.to_s(:time) %></h4>
  </div>

  <div class="col-xs-3 col-sm-4">
    <%= progress_bar(needed: shift.volunteers_needed,
                     signed_up: shift.volunteers_count,
                     current_user: shift.users.include?(current_user)) %>
  </div>
  <div class="col-xs-3 col-sm-3">
    <%= opt_button_for shift, current_user %>
  </div>
</div>
<hr>
