<div class="event-header">
  <h2>
    <%= render 'calendar_icon', date: @shift.starts_at %>
    <%= @shift.event.title %>
  </h2>
</div>
<div class="row">
  <div class="col-md-4">
    <h1><%= t('shifts.thank_you')%></h1>
    <ul class="fa-ul">
      <li class="detail-row">
        <i class="fa-li fa fa-clock-o fa-fw"></i>
        <%= @shift.starts_at.strftime('%H:%M') %> - <%= @shift.ends_at.strftime('%H:%M') %>
      </li>
      <li class="detail-row">
        <i class="fa-li fa fa-map-marker fa-fw"></i>
        <%= @shift.event.address %>
      </li>
      <li class="detail-row">
        <i class="fa-li fa fa-info-circle fa-fw"></i>
        <%= format_description @shift.event.description %>
      </li>
      <li class="detail-row">
        <i class="fa-li fa fa-users fa-fw"></i> <%= @shift.event.ngo.name %>
      </li>
    </ul>
    <p>
      <%= link_to shift_cal_path(@shift, format: :ics), class: "btn btn-block btn-info" do %>
      <i class="fa fa-calendar-plus-o"></i> iCal
      <% end %>
    </p>
    <p><%= link_to "http://www.google.com/calendar/event?" +
                   "action=TEMPLATE&" +
                   "text=#{@shift.event.title}&" +
                   "dates=" + @shift.starts_at.utc.strftime("%Y%m%dT%H%M%S") + "Z/" +
                   @shift.ends_at.utc.strftime("%Y%m%dT%H%M%S") + "Z&" +
                   "details=#{@shift.event.description} - #{event_url(@shift.event)}&" +
                   "location=#{@shift.event.address}&" +
                   "trp=false&sprop=&sprop=name:", target: "_blank", rel:"nofollow", class: "btn btn-block btn-danger"  do %>
                   <i class="fa fa-google"></i> <i class="fa fa-calendar-plus-o"></i> Google
    <% end %></p>
    <p><%= facebook_share_btn %></p>
  </div>
  <div class="col-md-8 hidden-sm hidden-xs">
    <%= image_tag 'opted_in.jpg', class: 'img-responsive img-rounded' %>
  </div>
</div>
<div id="shift-map" class="map" data-behavior="map-container" data-lat="<%= @shift.event.lat %>" data-long="<%= @shift.event.lng %>"></div>
</div>
