<div class="page-header">
  <div class="row">
    <div class="col-xs-4">
      <h1><%= t('shifts.thank_you')%></h1>
      <p><%= t('shifts.please_come')%> <%= I18n.localize(@shift.starts_at, format:'%b %d %H:%M') %>!</p>

      <p><%= link_to t('shift.download_calendar'), shift_cal_path(@shift, format: :ics) %></p>
    </div>
    <div class="col-xs-8">
      <%= image_tag 'opted_in', class: 'img-responsive img-rounded' %>
    </div>
  </div>
</div>
