<div class="row">
  <div class="col-xs-12">
    <h1><%= @shift.event.address %></h1>
    <p>Volunteers: <span class="label <%= label_for(@shift, current_user) %>"><%= @shift.volunteers_count %> / <%= @shift.volunteers_needed %></span>
    <p><%= @shift.event.description %></p>
    <h2>
      <%= I18n.localize(@shift.starts_at, format:'%d. %b %Y %H:%M') %> -
      <%= I18n.localize(@shift.ends_at, format:'%H:%M') %>
    </h2>
    <%= opt_button_for(@shift, current_user) %>
  </div>
</div>
