<div class="home-bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= image_path(LandingPage::Image.next_image_path) %>);"></div>
<div class="home-row">
  <div class="home-col">
    <div class="home-bounded-container">
      <div class="col-sm-8 col-sm-offset-2 home-col">
        <%= image_tag 'logo.svg', class: 'img-responsive logo-img' %>
      </div>
      <div class="home-desc-col">
        <h1><%= t('.short_description') %></h1>
      </div>
      <div class="home-col cta-container">
        <a href="#home_help_now_header" class="btn-register btn-cta"><%= t('.btn_help_now') %></a>
      </div>
    </div>
  </div>
</div>

<div class="home-bg-row teaser-container">
  <div class="col-xs-12">
    <div class="home-bounded-container">
      <div class="row">
        <div class="col-sm-5 col-md-4 home-col">
          <%= image_tag 'logo_small.svg', class: 'img-responsive logo-img teaser-img' %>
        </div>
        <div class="col-sm-7 col-md-8 home-col">
          <h2><%= t('.ngo_teaser_subheader') %></h2>
          <p><%= t('.ngo_teaser_text') %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-push-7 col-md-4 col-md-push-8 home-col">
          <%= image_tag 'logo_small.svg', class: 'img-responsive logo-img teaser-img' %>
        </div>
        <div class="col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4 home-col">
          <h2><%= t('.help_once_teaser_subheader') %></h2>
          <p><%= t('.help_once_text') %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-md-4 home-col">
          <%= image_tag 'logo_small.svg', class: 'img-responsive logo-img teaser-img' %>
        </div>
        <div class="col-sm-7 col-md-8 home-col">
          <h2><%= t('.help_constantly_teaser_subheader') %></h2>
          <p><%= t('.help_constantly_text') %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-row home-padded-container register-container">
  <div class="home-col">
    <div class="home-bounded-container">

      <h2 id="home_help_now_header"><%= t('.register_subheader') %></h2>
      <div class="home-row">
        <div class="home-col col-sm-6 col-md-5">
          <div class="img-container">
            <%= image_tag 'landing_page/landing-background-1.jpg' %>
          </div>

          <p><%= simple_format t('.register.description') %></p>

          <p><%= link_to t('application.cookie_consent.learn_more'), how_to_path %></p>
        </div>

        <div class="home-col col-sm-6 col-md-7">

        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-bg-row">
  <div class="col-xs-12">
    <div class="home-bounded-container ngo-section">
      <h2><%= t('.ngo_subheader') %></h2>

      <p><strong><%= t('.ngo.teaser') %></strong></p>
      <p><%= t('.ngo.description') %></p>
      <div><%= link_to t('application.cookie_consent.learn_more'), how_to_path, class: 'btn-register btn-cta' %></div>
      <p>
        <%= link_to t('ngos.registrations.new.sign_up'), new_registration_path('ngo') %> &nbsp;
        <%= link_to t('pages.home.login_ngo'), new_ngo_session_path %>
      </p>
    </div>
  </div>
</div>