<div class="home-bg" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= image_path(LandingPage::Image.next_image_path) %>);"></div>
<div class="home-row">
  <div class="home-col">
    <div class="home-bounded-container">
      <div class="col-sm-8 col-sm-offset-2 home-col">
        <%= image_tag 'logo.svg', class: 'img-responsive logo-img' %>
      </div>
      <div class="home-desc-col">
        <h1><%= t('.short_description') %></h1>
      </div>
      <div class="home-col">
        <button class="btn-register btn-cta"><%= t('.btn_help_now') %></button>
      </div>
    </div>
  </div>
</div>

<div class="home-bg-row teaser-container">
  <div class="col-xs-12">
    <div class="home-bounded-container">
      <div class="row">
        <div class="col-sm-5 col-md-4 home-col">
          <%= image_tag 'logo_small.svg', class: 'img-responsive logo-img teaser-img' %>
        </div>
        <div class="col-sm-7 col-md-8 home-col">
          <h2><%= t('.ngo_teaser_subheader') %></h2>
          <p><%= t('.ngo_teaser_text') %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-sm-push-7 col-md-4 col-md-push-8 home-col">
          <%= image_tag 'logo_small.svg', class: 'img-responsive logo-img teaser-img' %>
        </div>
        <div class="col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4 home-col">
          <h2><%= t('.help_once_teaser_subheader') %></h2>
          <p><%= t('.help_once_text') %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-md-4 home-col">
          <%= image_tag 'logo_small.svg', class: 'img-responsive logo-img teaser-img' %>
        </div>
        <div class="col-sm-7 col-md-8 home-col">
          <h2><%= t('.help_constantly_teaser_subheader') %></h2>
          <p><%= t('.help_constantly_text') %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-row">
  <div class="home-col">
    <div class="home-bounded-container">

      <h2><%= t('.register_subheader') %></h2>
      <div class="home-row">
      </div>
    </div>
  </div>
</div>

<div class="home-bg-row">
  <div class="col-xs-12">
    <div class="home-bounded-container">
      <h2><%= t('.ngo_subheader') %></h2>
      <div class="row">

      </div>
    </div>
  </div>
</div>