<% image = LandingPage::Image.next_image %>
<div class="home-bg" title="<%= image.copyright %>" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= asset_path image.path %>);"></div>

<div class="home-section home-section-bg-image home-section-centered">
  <div class="home-container">
    <div class="home-logo">
      <%= image_tag 'logo.svg', alt: 'Where2Help logo', class: 'img-responsive logo-img main-logo' %>
    </div>
    <div class="home-desc">
      <h1><%= t('.short_description') %></h1>
    </div>
    <div class="home-cta-container">
      <a href="#home_help_now_header" data-turbolinks="false" class="btn btn-primary btn-lg">
        <%= t('.btn_help_now') %>
      </a>
    </div>
  </div>
</div>

<div class="home-section home-section-bg-light">
  <div class="home-container">
    <div class="row home-teaser">
      <div class="col-xs-2 col-sm-5 col-md-4">
        <div class="teaser-img-container">
          <%= image_tag 'teardrop_icon.svg', alt: "Where2Help Teardrop Icon", class: 'img-responsive logo-img teaser-img' %>
        </div>
      </div>
      <div class="col-xs-10 col-sm-7 col-md-8">
        <h2><%= t('.ngo_teaser_subheader') %></h2>
        <p><%= t('.ngo_teaser_text') %></p>
      </div>
    </div>
    <div class="row home-teaser">
      <div class="col-xs-2 col-sm-5 col-sm-push-7 col-md-4 col-md-push-8">
        <div class="teaser-img-container">
          <%= image_tag 'teardrop_icon.svg', alt: "Where2Help Teardrop Icon", class: 'img-responsive logo-img teaser-img' %>
        </div>
      </div>
      <div class="col-xs-10 col-sm-7 col-sm-pull-5 col-md-8 col-md-pull-4">
        <h2><%= t('.help_once_teaser_subheader') %></h2>
        <p><%= t('.help_once_text') %></p>
      </div>
    </div>
    <div class="row home-teaser">
      <div class="col-xs-2 col-sm-5 col-md-4">
        <div class="teaser-img-container">
          <%= image_tag 'teardrop_icon.svg', alt: "Where2Help Teardrop Icon", class: 'img-responsive logo-img teaser-img' %>
        </div>
      </div>
      <div class="col-xs-10 col-sm-7 col-md-8">
        <h2><%= t('.help_constantly_teaser_subheader') %></h2>
        <p><%= t('.help_constantly_text') %></p>
      </div>
    </div>
  </div>
</div>

<div class="home-section home-section-bg-image">
  <div class="home-help-now-container">
    <div class="container">
      <h2 id="home_help_now_header"><%= t('.register_subheader') %></h2>
      <%= semantic_form_for(User.new, as: 'user', url: registration_path('user'), html: {class: "home-signup-form"}) do |f| %>
        <div class="row">
          <div class="col-sm-6 col-md-5 home-register-description">
            <div class="registration-img-container">
              <% copyright = LandingPage::Image.copyright(:hands) %>
              <%= image_tag 'landing_page/landing-background-hands.jpg', title: copyright, alt: copyright, class: "img-responsive img-rounded hidden-xs" %>
            </div>

            <%= t('.register.description').html_safe %>

            <p><%= link_to t('application.cookie_consent.learn_more'), how_to_path %></p>
          </div>

          <div class="col-sm-6 col-md-7">
            <%= f.input :first_name, input_html: { autocomplete: 'given-name' } %>
            <%= f.input :last_name, input_html: { autocomplete: 'family-name' } %>
            <%= f.input :email, input_html: { autocomplete: 'email' } %>
            <%= f.input :phone, input_html: { autocomplete: 'tel' } %>
            <%= f.input :password, autocomplete: 'off', hint: "(#{User.password_length.min} #{t('users.registrations.new.min_characters')})" %>
            <%= f.input :password_confirmation, autocomplete: 'off' %>
            <%= f.invisible_captcha :username %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-7 col-sm-push-6 col-md-push-5">
            <%= f.input :terms_and_conditions, as: :boolean, label: "#{t('users.registrations.new.accept_terms_and_conditions')} #{render 'terms_and_conditions', resource: f.object}".html_safe %>
          </div>
          <div class="col-sm-6 col-md-5 col-sm-pull-6 col-md-pull-7">
            <em><%= t('.register.safe_data_transport') %></em>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-7 col-sm-push-6 col-md-push-5">
            <p>
              <%= f.submit t('devise.registrations.new.sign_up'), class: 'btn btn-primary btn-lg btn-signup' %>
            </p>
            <p>
              <%= link_to t('devise.shared.links.didn_t_receive_confirmation_instructions'), new_confirmation_path('user'), class: 'confirmation-missing' %>
            </p>
          </div>
          <div class="col-sm-6 col-md-5 col-sm-pull-6 col-md-pull-7"><%= link_to t('.register.already_registered'), new_user_session_path, class: "btn btn-default btn-lg btn-already-registered" %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="home-section home-section-bg-light home-section-centered">
  <div class="ngo-section">
    <h2><%= t('.ngo_subheader') %></h2>

    <ul>
      <li>
        <%= t('.ngo.feature1') %>
      </li>
      <li>
        <%= t('.ngo.feature2') %>
      </li>
      <li>
        <%= t('.ngo.feature3') %>
      </li>
    </ul>

    <div class="ngo-section-learn-more">
      <%= link_to t('application.cookie_consent.learn_more'), how_to_path, class: 'btn btn-default' %>
    </div>

    <p class="ngo-section-navigation-links">
      <%= link_to t('ngos.registrations.new.sign_up'), new_registration_path('ngo') %> &nbsp;
      <%= link_to t('pages.home.login_ngo'), new_ngo_session_path %>
    </p>

    <div class="image-attribution">
      <h4 class="image-attribution-title">
        <%= t('pages.home.image_attribution') %>
      </h4>

      <ul class="image-attribution-list">
        <% LandingPage::Image.images.each do |image| %>
          <li><%= image.name.titleize  %>: <%= image.copyright %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>