<div class="pages-static">
  <section class="pages-static-section">
    <h2 class="pages-title"><i class="fa fa-legal" aria-hidden="true"></i> <%= t('application.terms_and_conditions') %></h2>

    <%= link_to t('ngos.registrations.terms_and_conditions.title'), '#ngos', class: 'pages-nav-link' %>
    <%= link_to t('users.registrations.terms_and_conditions.title'), '#users', class: 'pages-nav-link' %>

    <h3 id="ngos"><i class="fa fa-users" aria-hidden="true"></i> <%= t('ngos.registrations.terms_and_conditions.title') %></h3>
    <%= simple_format t('ngos.registrations.terms_and_conditions.body') %>
    <h3 id="users"><i class="fa fa-user" aria-hidden="true"></i> <%= t('users.registrations.terms_and_conditions.title') %></h3>
    <%= simple_format t('users.registrations.terms_and_conditions.body') %>
  </div>
</div>
