<%= content_for(:teaser, t(".teaser", ngo_name: @ngo.name)) %>

<h2><%= t('.content') %></h2>
<p>
  Name: <%= @ngo.name %><br>
  E-Mail: <%= @ngo.email %><br>
</p>
<p><%= link_to @ngo.name, '#' %></p>
