<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= t('.headline', organization: @user.organization) %>!</h2>
    <p>
      Name: <%= @user.first_name %> <%= @user.last_name %><br>
      Email: <%= @user.email %><br>
      Tel: <%= @user.phone %>
    </p>
    <p><%= t('.action')%>: <%= link_to @user.organization, edit_admin_user_url(@user) %></p>
  </body>
</html>
