<%= link_to [:ngos, event], class: "ngo-event-item #{'-invisible' if event.pending?}" do %>
  <div class="row">
    <div class="col-xs-3 col-sm-1 text-left">
      <%= render 'calendar_icon', date: event.earliest_shift.starts_at %>
    </div>
    <div class="col-xs-6 col-sm-9">
      <%= time_for_event event %><br/>
      <strong><%= event.title %></strong><br>
      <span><%= event.address %></span>
    </div>
    <div class="col-xs-3 col-sm-2">
      <%= label_for_event_state event %>
      <%= progress_bar(needed: event.ngo_volunteers_needed, signed_up: event.ngo_volunteers_count) %>
    </div>
  </div>
<% end %>
