<%= link_to [:ngos, event], class: 'list-group-item' do %>
  <div class="row">
    <h3><%= event.title %></h3>
    <h4><%= event.address %> — <%= I18n.localize(event.earliest_shift.starts_at, format:'%d. %b %Y') %> </h4>
    <p><%= event.description %></p>
  </div>
<% end %>
