<%= link_to [:ngos, event], class: 'list-group-item' do %>
  <div class="row">
    <div class="col-xs-3 col-sm-1 text-left">
      <span class="fa-stack fa-2x">
        <i class="fa fa-calendar-o fa-stack-2x"></i>
        <strong class="fa-stack-1x calendar-text">
          <%= I18n.localize(event.earliest_shift.starts_at, format:'%b') %>
        </strong>
        <strong class="fa-stack-1x calendar-text">
          <%= event.earliest_shift.starts_at.day %>
        </strong>
      </span>
    </div>
    <div class="col-xs-9 col-sm-11">
      <h3><%= event.title %></h3>
      <p><%= event.description %></p>
      <strong><%= event.address %></strong>
    </div>
  </div>
<% end %>
