<%= link_to [:ngos, event], class: "ngo-event-item #{'-invisible' if event.pending?}" do %>
  <div class="row">
    <div class="col-xs-3 col-sm-1 text-left">
      <%= render 'calendar_icon', date: event.earliest_shift.starts_at %>
    </div>
    <div class="col-xs-6 col-sm-9">
      <%= time_for_event event %><br/>
      <strong><%= event.title %></strong><br>
      <span><%= event.address %></span>
    </div>
    <div class="col-xs-3 col-sm-2 text-center">
      <%= event_label event %>
      <%= render(partial: 'progress_bar/progress_bar', object: event.progress_bar) if event.available_shifts.any? %>
    </div>
  </div>
<% end %>
