<%= link_to [:ngos, event], class: "ngo-event-item #{'-published' if event.published?}" do %>
  <div class="row">
    <div class="col-xs-3 col-sm-1 text-left">
      <%= render 'calendar_icon', date: event.earliest_shift.starts_at %>
    </div>
    <div class="col-xs-7 col-sm-10">
      <%= time_for_event event %><br/>
      <strong><%= event.title %></strong><br>
      <span><%= event.address %></span>
    </div>
    <div class="col-xs-2 col-sm-1">
      progressbar
    </div>
  </div>
<% end %>
