<%= semantic_form_for([:ngos, @event]) do |f| %>
  <% if @event.errors.any? %>
    <%= f.semantic_errors :event %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <h4><%= @event.errors.count %> <%= t 'ngos.events.form.prohibited' %> </h4>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title, placeholder: true  %>
  <%= f.input :description, placeholder: true, :input_html => { :class => 'autogrow', :rows => 5, :cols => 20 } %>
  <%= f.input :address, placeholder: true, input_html: { class: 'typeahead' } %>
  <%= f.input :person, placeholder: true %>
  <%= f.input :lat, as: :hidden %>
  <%= f.input :lng, as: :hidden %>
  <%= f.input :approximate_address, as: :hidden %>

  <hr/>
  <h3><%= t 'ngos.events.form.shifts' %></h3>

  <%= f.semantic_fields_for :shifts do |shift| %>
    <%= render 'shift_fields', f: shift %>
  <% end %>

  <div class="links">
    <%= link_to_add_association t('ngos.events.form.add_shift'), f, :shifts, class: "btn btn-info" %><br/><br/>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
