<%= semantic_form_for([:ngos, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :description, :input_html => { :class => 'autogrow', :rows => 5, :cols => 20 } %>
  <%= f.input :address %>

  <hr/>
  <h3>Schichten</h3>

  <%= f.semantic_fields_for :shifts do |shift| %>
    <%= render 'shift_fields', f: shift %>
  <% end %>

  <div class="links">
    <%= link_to_add_association 'Schicht hinzufügen', f, :shifts, class: "btn btn-info" %><br/><br/>
  </div>

  <div class="actions">
    <%= f.submit "Event speichern", class: "btn btn-default" %>
  </div>
<% end %>
