<div class="nested-fields inserted-fields">
  <%= f.inputs do %>
    <%= f.input :volunteers_needed, hint: "bisher zugesagt: " + f.object.users.count.to_s %>

    <%= f.input :starts_at, minute_step: 15 %>
    <%= f.input :ends_at, minute_step: 15 %>

    <%= link_to_remove_association "Schicht löschen", f, class: "btn btn-danger" %><br/><br/>
    <hr/>
  <% end %>
</div>
