<div class="event-header">
  <h2>
    <%= @event.title %>
  </h2>
</div>
<div class="row">
  <div class="col-sm-9">
    <ul class="fa-ul">
      <li class="detail-row">
        <%= label_for_event_state @event %>
      </li>
      <li class="detail-row">
        <i class="fa-li fas fa-info-circle fa-fw"></i>
        <%= format_description @event.description %>
      </li>
      <li class="detail-row">
        <i class="fa-li fas fa-map-marker-alt fa-fw"></i>
        <%= @event.address %>
      </li>
      <li class="detail-row">
        <i class="fa-li fas fa-user fa-fw"></i>
        <%= @event.person %>
      </li>
    </ul>

    <div id="shift-map" class="map" data-behavior="map-container" data-lat="<%= @event.lat %>" data-long="<%= @event.lng %>"></div>

    <div class="panel panel-default">
      <%= render partial: 'shift', collection: @event.shifts %>
    </div>
  </div>

  <div class="col-sm-3 text-center">
    <%= render 'buttons', event: @event %>
  </div>
</div>
