<div class="row">
  <h2><%= @event.title %></h2>
  
  <div class="pull-right">
   <%= link_to publish_ngos_event_path(@event), class: "btn btn-info",
                                                  method: :post do %>
       <i class="fa fa-users"></i> Veröffentlichen
    <% end if @event.may_publish? %>

    <%= link_to edit_ngos_event_path(@event), class: "btn btn-warning" do %>
      <i class="fa fa-pencil-square-o"></i> Bearbeiten
    <% end %>

    <%= link_to [:ngos, @event],  class: "btn btn-danger",
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' },
                                  confirm: "Soll der Eintrag wirklich gelöscht werden?" do %>
      <i class="fa fa-trash-o"></i> Löschen
    <% end %>
  </div>



  <p>Status: <span class="label label-success"><%= t "activerecord.attributes.event.state." + @event.aasm.current_state.to_s %></span></p>

  <%= @event.description %>
  <%= render partial: 'shifts/shift', collection: @event.shifts %>
</div>
