<div class="event-header">
  <h2>
    <%= @event.title %>
  </h2>
</div>
<div class="row">
  <div class="col-md-4">
    <%= t('.thank_you').html_safe %>
    <ul class="fa-ul">
      <li class="detail-row">
        <i class="fa-li fas fa-map-marker-alt fa-fw"></i>
        <%= @event.address %>
      </li>
      <li class="detail-row">
        <i class="fa-li fas fa-info-circle fa-fw"></i>
        <%= format_description @event.description %>
      </li>
      <li class="detail-row">
        <i class="fa-li fas fa-users fa-fw"></i> <%= @event.ngo.name %>
      </li>
      <li class="detail-row">
        <i class="fa-li fas fa-users fa-fw"></i> <%= @event.contact_person %>
      </li>
    </ul>
  </div>
  <div class="col-md-8 hidden-sm hidden-xs">
    <%= image_tag 'opted_in.jpg', class: 'img-responsive img-rounded' %>
  </div>
</div>
<div id="shift-map" class="map" data-behavior="map-container" data-lat="<%= @event.lat %>" data-long="<%= @event.lng %>"></div>
</div>

