<div class="event-header">
  <h2>
    <%= @event.title %>
  </h2>
</div>
<div class="row">
  <div class="col-sm-9">
    <ul class="fa-ul">
      <li class="detail-row">
        <i class="fa-li fa fa-info-circle fa-fw"></i>
        <%= format_description @event.description %>
      </li>
      <li class="detail-row">
        <i class="fa-li fa fa-map-marker fa-fw"></i>
        <%= @event.address %>
      </li>
      <li class="detail-row">
        <i class="fa-li fa fa-user fa-fw"></i>
        <%= @event.contact_person %>
      </li>
    </ul>

    <div class="col-sm-6">
      <%= render partial: "progress_bar/progress_bar", object: @operation.progress_bar(@event) %>
    </div>

    <br style="clear: both;"/>
    <div id="shift-map" class="map" data-behavior="map-container" data-lat="<%= @event.lat %>" data-long="<%= @event.lng %>"></div>
  </div>
  <div class="col-sm-3 text-center">
    <%= ongoing_event_opt_in_button_for @event %>
  </div>
</div>
