<div class="event-header">
  <h2>
    <%= @event.title %>
  </h2>
</div>
<div class="row">
  <div class="col-sm-9">
    <ul class="fa-ul">
      <li class="detail-row">
        <i class="fa-li fa fa-info-circle fa-fw"></i>
        <%= format_description @event.description %>
      </li>
      <li class="detail-row">
        <i class="fa-li fa fa-map-marker fa-fw"></i>
        <%= @event.address %>
      </li>
      <li class="detail-row">
        <i class="fa-li fa fa-user fa-fw"></i>
        <%= @event.contact_person %>
      </li>
    </ul>
    <div id="shift-map" class="map" data-behavior="map-container" data-lat="<%= @event.lat %>" data-long="<%= @event.lng %>"></div>
  </div>
  <div class="col-sm-3 text-center">
    <% opted_in = @event.users.include?(current_user) %>
    <%= button_to opt_in_ongoing_event_path(@event),  class: "btn-#{opted_in ? "danger" : "success"} event-btn", method: :patch do %>
      <% if opted_in %>
        <i class="fa fa-close"></i> <%= t 'shifts.opt_out_btn' %>
      <% else %>
        <i class="fa fa-thumbs-o-up"></i> <%= t 'shifts.opt_in_btn' %>
      <% end %>
    <% end %>
  </div>
</div>
