<h4><i class="fas fa-phone" aria-hidden="true"></i> <%= Contact.model_name.human %></h4>
<%= f.semantic_fields_for :contact, (resource.contact || resource.build_contact) do |c| %>
  <%= c.input :first_name %>
  <%= c.input :last_name %>
  <%= c.input :email %>
  <%= c.input :phone %>
  <%= c.input :street %>
  <div class="row">
    <div class="col-sm-4">
      <%= c.input :zip %>
    </div>
    <div class="col-sm-8">
      <%= c.input :city %>
    </div>
  </div>
<% end %>
