<h3><%= Contact.model_name.human %></h3>
<%= f.fields_for :contact, (resource.contact || resource.build_contact) do |c| %>
  <div class="form-group">
    <%= c.label :first_name %>
    <%= c.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= c.label :last_name %>
    <%= c.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= c.label :email %>
    <%= c.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= c.label :phone %>
    <%= c.phone_field :phone, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= c.label :street %>
    <%= c.text_field :street, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= c.label :zip %>
    <%= c.text_field :zip, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= c.label :city %>
    <%= c.text_field :city, class: 'form-control' %>
  </div>
<% end %>
