<h2 class="h4"><i class="fas fa-users" aria-hidden="true"></i> <%= t('.profile') %></h2>
<%= f.input :name, autofocus: true, input_html: { autocomplete: 'given-name' } %>
<%= f.input :email, input_html: { autocomplete: 'email' } %>
<%= f.input :password, autocomplete: 'off', hint: "(#{@minimum_password_length} #{t('.min_characters')})" %>
<%= f.input :password_confirmation, autocomplete: 'off' %>
