<h2 class="h4"><i class="fas fa-users" aria-hidden="true"></i> <%= t('.profile') %></h2>
<div class="accessible-input">
    <% local_errors = resource.errors[:name] %>
    <div class="string input required stringish form-group <%= local_errors.any? ? 'has-error' : '' %>" id="user_first_name_input">
        <span class="form-label">
            <label for="user_name" class=" control-label">
                <%= t("activerecord.attributes.ngo.name") %> *
                <span> </span>
                <% if local_errors.any? %>
                <span class="help-inline"><%= local_errors.first %></span>
                <% end %>
            </label>
        </span>
        <span class="form-wrapper">
          <%= f.text_field :name, autocomplete: "name", class: "form-control", maxlength: 50, required: true %>
        </span>
    </div>
</div>

<div class="accessible-input">
    <% local_errors = resource.errors[:email] %>
    <div class="string input required stringish form-group <%= local_errors.any? ? 'has-error' : '' %>" id="user_email_input">
        <span class="form-label">
        <label for="user_email" class=" control-label">
            <%= t("activerecord.attributes.user.email") %> *
            <span> </span>
            <% if local_errors.any? %>
            <span class="help-inline"><%= local_errors.first %></span>
            <% end %>
        </label>
        </span>
        <span class="form-wrapper">
        <%= f.email_field :email, autocomplete: "email", class: "form-control", required: true%>
        </span>
    </div>
</div>
