<div class="row">
  <%= render 'ngos/header_lg', txt: t('.title') %>
  <div class="col-sm-12">
      <div class="col-sm-6">
        <%= semantic_form_for(resource, as: resource_name,
                                        url: registration_path(resource_name),
                                        html: { method: :put }) do |f| %>
          <%= render 'contact_fields', f: f %>
          <%= f.submit t('.update_contact'), class: 'btn btn-primary' %>
        <% end %>
      </div>

      <div class="col-sm-6">
        <div class="mb-32">
          <%= semantic_form_for(resource, as: resource_name,
                                          url: registration_path(resource_name),
                                          html: { method: :put }) do |f| %>
            <%= render 'ngo_fields', f: f %>
            <%= f.input :locale, as: :select, collection: Ngo.locales.keys.to_a %>
            <%= f.submit t('.update_profile'), class: 'btn btn-primary' %>
          <% end %>
        </div>

        <div class="">
          <%= semantic_form_for(resource, as: resource_name,
                                          url: registration_path(resource_name),
                                          html: { method: :put }) do |f| %>
            <h2 class="h4"><i class="fas fa-key" aria-hidden="true"></i> <%= t(".password") %></h2>
            <%= f.input :current_password, autocomplete: 'off',
                                          hint: "(" + t("devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes") + ")" %>
            <div class="accessible-input">
              <% local_errors = resource.errors[:password] %>
              <div class="string input required stringish form-group <%= local_errors.any? ? 'has-error' : '' %>" id="user_password_input">
                <span class="form-label">
                  <label for="user_password" class=" control-label">
                      <%= t("activerecord.attributes.user.password") %> *
                      <span> </span>
                      <% if local_errors.any? %>
                      <span class="help-inline"><%= local_errors.first %></span>
                      <% end %>
                  </label>
                </span>
                <span class="form-wrapper">
                  <%= f.password_field :password, class: "form-control", required: true, autocomplete: false %>
                  <span class="help-block"><%= "#{User.password_length.min} #{t('users.registrations.new.min_characters')}" %></span>
                </span>
              </div>
            </div>

            <div class="accessible-input">
              <% local_errors = resource.errors[:password_confirmation] %>
              <div class="string input required stringish form-group <%= local_errors.any? ? 'has-error' : '' %>" id="user_password_confirmation_input">
                <span class="form-label">
                  <label for="user_password_confirmation" class=" control-label">
                      <%= t("activerecord.attributes.user.password_confirmation") %> *
                      <span> </span>
                      <% if local_errors.any? %>
                        <span class="help-inline"><%= local_errors.first %></span>
                      <% end %>
                  </label>
                </span>
                <span class="form-wrapper">
                  <%= f.password_field :password_confirmation, class: "form-control", required: true, autocomplete: false %>
                </span>
              </div>
            </div>
            <%= f.submit t('.update_password'), class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>

      <%= render 'registrations/cancel', resource_name: resource_name %>
  </div>
</div>
