<%= render 'ngos/header_lg', txt: t('.sign_up') %>
<div class="registration-row">
  <div class="col-sm-6">
    <%= image_tag 'landing_page/landing-background-hands.jpg', class: 'img-responsive img-rounded' %>
  </div>
  <div class="col-sm-6 bottom-column">
    <%= simple_format t('.motivation_txt') %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <% errors = resource.errors.messages %>
    <% error_messages = resource.errors.full_messages %>
    <% if error_messages.any? %>
      <div class="form-errors-container">
        <%= t("errors.template.auth", count: error_messages.size) %>
        <ul>
          <% error_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="col-sm-6">
        <%= render 'contact_fields', f: f, errors: errors %>
      </div>
      <div class="col-sm-6">
        <%= render 'ngo_fields', f: f, errors: errors %>

        <div class="accessible-input">
          <% local_errors = resource.errors[:password] %>
          <div class="string input required stringish form-group <%= local_errors.any? ? 'has-error' : '' %>" id="user_password_input">
            <span class="form-label">
              <label for="user_password" class=" control-label">
                  <%= t("activerecord.attributes.user.password") %> *
                  <span> </span>
                  <% if local_errors.any? %>
                  <span class="help-inline"><%= local_errors.first %></span>
                  <% end %>
              </label>
            </span>
            <span class="form-wrapper">
              <%= f.password_field :password, class: "form-control", required: true, autocomplete: false %>
              <span class="help-block"><%= "#{User.password_length.min} #{t('users.registrations.new.min_characters')}" %></span>
            </span>
          </div>
        </div>

        <div class="accessible-input">
          <% local_errors = resource.errors[:password_confirmation] %>
          <div class="string input required stringish form-group <%= local_errors.any? ? 'has-error' : '' %>" id="user_password_confirmation_input">
            <span class="form-label">
              <label for="user_password_confirmation" class=" control-label">
                  <%= t("activerecord.attributes.user.password_confirmation") %> *
                  <span> </span>
                  <% if local_errors.any? %>
                    <span class="help-inline"><%= local_errors.first %></span>
                  <% end %>
              </label>
            </span>
            <span class="form-wrapper">
              <%= f.password_field :password_confirmation, class: "form-control", required: true, autocomplete: false %>
            </span>
          </div>
        </div>

        <%= f.invisible_captcha :username %>

        <div class="accessible-input">
          <% local_errors = errors[:terms_and_conditions] %>
          <div class="boolean input optional form-group checkbox <%= local_errors.any? ? 'has-error' : '' %>" id="user_terms_and_conditions_input">
            <span class="form-wrapper">
              <label for="user_terms_and_conditions" class=" control-label">
                <%= f.check_box :terms_and_conditions %>
                <%= raw(t('.accept_terms_and_conditions') + " " +  render('terms_and_conditions', resource: f.object)) %>
                <% if local_errors.any? %>
                  <span class="help-inline"><strong><%= local_errors.first %></strong></span>
                <% end %>
              </label>
            </span>
          </div>
        </div>
        <%= f.submit t('devise.registrations.new.sign_up'), class: 'btn btn-primary btn-block' %>
        <%= render 'ngos/shared/links' %>
      </div>
    <% end %>
  </div>
</div>
