<div class="row">
  <%= render 'users/header_sm', txt: t('devise.passwords.edit.change_your_password') %>
  <div class="col-sm-4 col-sm-offset-4">
    <%= semantic_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.input :password, autocomplete: 'off',
        label: false,
        placeholder: resource.class.human_attribute_name(:password),
        hint: "(#{@minimum_password_length} #{t('devise.passwords.edit.min_chars')})" %>
      <%= f.input :password_confirmation, autocomplete: 'off',
        label: false,
        placeholder: resource.class.human_attribute_name(:password_confirmation) %>

      <div class="form-group">
        <%= f.submit t('devise.passwords.edit.change_my_password'), class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
    <%= render 'users/shared/links' %>
  </div>
</div>
