<div class="page-header">
  <h1><%= t User.model_name.human(count: 2) %></h1>
</div>
<div class="table-responsive">
  <table class="table table-hover table-clickable">
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:id) %></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:first_name) %></th>
        <th><%= User.human_attribute_name(:last_name) %></th>
        <th class="text-center"><%= User.human_attribute_name(:admin) %></th>
        <th class="text-center"><%= User.human_attribute_name(:ngo_admin) %></th>
        <th><%= User.human_attribute_name(:created_at) %></th>
        <th><%=t '.actions', default: t('helpers.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr data-url="<%= admin_user_path(user) %>">
          <td><%= link_to user.id, admin_user_path(user) %></td>
          <td><%= user.email %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td class="text-center"><i class="<%= 'fa fa-check' if user.admin? %>"></i></td>
          <td class="text-center"><i class="<%= 'fa fa-check' if user.ngo_admin? %>"></i></td>
          <td><%= l user.created_at, format: '%d. %b %Y' %></td>
          <td>
            <%= link_to t('helpers.links.edit'),
                        edit_admin_user_path(user), class: 'btn btn-default btn-xs' %>
            <%= link_to t('helpers.links.destroy'),
                        admin_user_path(user),
                        method: :delete,
                        data: { confirm: t('helpers.links.confirm') },
                        class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @users %>
  </div>
</div>
