<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <%= link_to :back, class: 'btn btn-default' do %>
      <i class="fa fa-chevron-left fa-fw"></i> <%= t('helpers.links.back') %>
    <% end %>
    <%= render 'users/user', user: @user %>
    <%= link_to t('helpers.links.edit'), edit_admin_user_path(@user), class: 'btn btn-default' %>
    <%= link_to t('helpers.links.destroy'), admin_user_path(@user),
                              method: :delete,
                              data: { confirm: t('helpers.links.confirm') },
                              class: 'btn btn-danger' %>
  </div>
</div>
