<footer>
  <div class="footer-content">
    <div class="footer-info">
      <span class="footer-txt">Made with <i class="made-with-love fas fa-heart"></i> in Vienna</span>
      <span class="footer-separator">&#124;</span>
      <span class="footer-txt">Operated by <%= link_to image_tag("fsw-logo.svg", alt: "Fonds Soziales Wien", title: "Fonds Soziales Wien", class: "footer-fsw-logo"), "https://www.fsw.at/", style: "margin-left: 5px;", target: "_blank" %></span>
      <span class="footer-separator">&#124;</span>
      <%= mail_to "contact@where2help.wien", t('application.contact'), class: 'footer-txt' %>
      <span class="footer-separator">&#124;</span>
      <%= link_to t('application.terms_and_conditions'), terms_and_conditions_path, class: 'footer-txt' %>
      <span class="footer-separator">&#124;</span>
      <%= link_to t('application.imprint'), 'https://www.fsw.at/p/impressum', target: '_blank', class: 'footer-txt' %>
      <% if I18n.locale == :de %>
        <span class="footer-separator">&#124;</span>
        <%= link_to t('application.barrier_free'), barrier_free_path, class: 'footer-txt' %>
      <% end %>
      <% unless current_user || current_ngo %>
        <span class="footer-separator">&#124;</span>
        <%= render 'language_switcher' %>
      <% end %>
    </div>
  </div>
</footer>
