<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo_light.png', height: '25'), root_path, class: 'navbar-brand' %>
    </div>

    <!-- toggle content -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <%= render "nav_#{current_user.role}" %>
          <%= render 'nav_personal', mobile: true %>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right inverse-dropdown">
              <%= render 'nav_personal' %>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in fa-fw"></i> Anmelden
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>

  </div>
</nav>
