<li>
  <%= link_to pages_calendar_path do %>
    <i class="fa fa-calendar-o fa-fw"></i> <%= t '.calendar' %>
  <% end %>
</li>
<li>
  <%= link_to needs_path do %>
    <i class="fa fa-child fa-fw"></i> <%= t '.needs' %>
  <% end %>
</li>
<li>
  <%= link_to user_path do %>
    <i class="fa fa-users fa-fw"></i> <%= t '.users' %>
  <% end %>
<li>
