<li>
  <%= link_to '#' do %>
    <i class="fa fa-calendar-o fa-fw"></i> <%= t '.calendar' %>
  <% end %>
</li>
<li>
  <%= link_to admin_needs_path do %>
    <i class="fa fa-child fa-fw"></i> <%= t '.needs' %>
  <% end %>
</li>
<li>
  <%= link_to admin_users_path do %>
    <i class="fa fa-users fa-fw"></i> <%= t '.users' %>
  <% end %>
<li>
<li>
  <%= link_to appointments_user_path do %>
    <i class="fa fa-bookmark-o fa-fw"></i> <%= t('.appointments') %>
  <% end %>
</li>
