<!DOCTYPE html>
<html>
  <head>
    <title>Where2help</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <%= navigation_for current_user %>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
