<!DOCTYPE html>
<html>
  <head>
    <title>Where2help</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <%= navigation_for(current_user || current_ngo) %>
    <main class="container">
      <%= flash_messages %>
      <%= yield %>
    </main>
    <footer>
      <div class="container text-center">
        <% unless current_user %>
          <% if I18n.locale == :en %>
             <%= link_to url_for(locale: :de, action: request.parameters['action']) do %>
               <span class="badge badge-default">Bevorzugen Sie Deutsch?</span>
             <% end %>
          <% else %>
            <%= link_to url_for(locale: :en, action: request.parameters['action']) do %>
              <span class="badge badge-default">Do you prefer English?</span>
            <% end %>
          <% end %>
        <% end %>
        <p class="text-muted">made with <i class="fa fa-heart"></i> in vienna</p>
      </div>
    </footer>
  </body>
</html>
