<!DOCTYPE html>
<html>
  <head>
    <title>where2help | Freiwillig für Wien</title>
    <%= tag(:link, rel: 'canonical', href: request.base_url) %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'og_tags' %>
    <%= render 'favicon_tags' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render 'piwik_analytics' %>
  </head>
  <body>
    <%= navigation_for(current_user || current_ngo) %>
    <main class="container">
      <%= flash_messages %>
      <%= yield %>
    </main>
    <%= render 'footer' %>
  </body>
</html>
