<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>where2help | <%= @title || 'Freiwillig für Wien' %></title>
    <%= tag(:link, rel: 'canonical', href: request.base_url) %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'og_tags' %>
    <%= render 'favicon_tags' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render 'cookie_consent' %>
  </head>

  <%= content_tag(:body, class: ("relative-footer" if landing_page?)) do %>
    <%= link_to t("application.skip_links"), "#main-content-container", class: "skip-links" %>
    <%= navigation_for(current_user || current_ngo) %>

    <%= content_tag(:main, id: "main-content-container", class: (landing_page? ? "container-fluid" : "container")) do %>
      <%= environment_disclaimer unless Rails.env.production? %>
      <%= flash_messages %>
      <%= yield %>
    <% end %>
    <%= render 'footer' %>

    <%= content_for :pixel_container %>
    <%= render 'siteimprove' %>
  <% end %>
</html>
