<h2><%=  t("devise.registrations.edit.title", resource: t("activerecord.models.users.one")) %></h2>

<%= semantic_form_for(resource, as: resource_name,
                                url: registration_path(resource_name),
                                html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :first_name, autofocus: true %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :locale %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.input :password, autocomplete: "off",
                         hint: t("devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it") %>
  <%= f.input :password_confirmation, autocomplete: "off" %>
  <%= f.input :current_password, autocomplete: "off",
                                  hint: "(" + t("devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes") + ")" %>
  <%= f.input :abilities, as: :check_boxes %>

  <%= f.input :languages, :as => :check_boxes %>
  <%= f.submit t("devise.registrations.edit.update"), class: "btn btn-success" %>
<% end %>

<hr/>

<h3><%= t("devise.registrations.edit.cancel_my_account") %> </h3>

<p><%= button_to t("devise.registrations.edit.cancel_my_account"),
                 registration_path(resource_name),
                 data: { confirm: t("devise.registrations.edit.are_you_sure") },
                 method: :delete,
                 class: "btn btn-warning" %></p>

<hr/>
<%= link_to t("devise.shared.links.back") , :back %>
