<div class="row">
  <%= render 'users/header_lg', txt: t('.title') %>

  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/users/edit"><%= t("users.nav.profile") %></a></li>
      <li role="presentation" class="active"><a href="/users/notifications"><%= t("users.nav.notifications") %></a></li>
    </ul>
  </div>

  <div class="col-sm-12">
    <%= semantic_form_for(resource, as: resource_name,
                                    url: registration_path(resource_name),
                                    html: { method: :put }) do |f| %>
      <div class="col-sm-6">
        <%= f.input :first_name, autofocus: true %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :phone %>
        <%= f.input :locale %>
      </div>
      <div class="col-sm-6">
        <%= f.input :password, autocomplete: "off",
                               hint: "(" + t("devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it") + ")" %>
        <%= f.input :password_confirmation, autocomplete: "off" %>
        <%= f.input :current_password, autocomplete: "off",
                                        hint: "(" + t("devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes") + ")" %>
        <%= render 'profile_checkboxes', f: f %>
        <%= f.submit t('devise.registrations.edit.update'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <%= render 'registrations/cancel', resource_name: resource_name %>
  </div>
</div>
