<h2><%=  t("devise.registrations.edit.title", resource: t("activerecord.models.users.one")) %></h2>

<%= semantic_form_for(resource, as: resource_name, 
                                url: registration_path(resource_name), 
                                html: { method: :put,
                                        class: "formtastic" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :locale %><br />
    <%= f.select :locale, User.locales.keys.to_a, {}, {class: "form-control"} %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(<%= t("devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it") %>)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %> <i><%= t("devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes") %></i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :abilities, :as => :check_boxes, class: "form-control" %>
  </div>


  <%= f.submit t("devise.registrations.edit.update") %>
<% end %>

<hr/>

<h3><%= t("devise.registrations.edit.cancel_my_account") %> </h3>

<p><%= button_to t("devise.registrations.edit.cancel_my_account"), 
                 registration_path(resource_name), 
                 data: { confirm: t("devise.registrations.edit.are_you_sure") }, 
                 method: :delete %></p>

<hr/>
<%= link_to t("devise.shared.links.back") , :back %>
