<div class="row">
  <%= render 'users/header_lg', txt: t('.sign_up') %>
  <div class="col-sm-6">
    <%= image_tag 'sign_up_user.png', class: 'img-responsive img-rounded' %>
    <%= simple_format t('.motivation_txt') %>
  </div>
  <div class="col-sm-4">
    <h4><i class="fa fa-user" aria-hidden="true"></i> <%= t('.profile') %></h4>
    <%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.input :first_name, autofocus: true %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :password, autocomplete: 'off', hint: "(#{@minimum_password_length} #{t('.min_characters')})" %>
      <%= f.input :password_confirmation, autocomplete: 'off' %>
      <%= f.input :terms_and_conditions, as: :boolean,
        label: "#{t('.accept_terms_and_conditions')} #{render 'terms_and_conditions', resource: f.object}".html_safe %>
      <%= f.action :submit, label: t('devise.registrations.new.sign_up'),
                            button_html: {
                              class: 'btn btn-primary btn-block',
                              disable_with: "<i class='fa fa-spinner fa-spin'></i>"
                            } %>
    <% end %>
    <%= render 'users/shared/links' %>
  <div>
</div>
